
.text-input {

}


p {
    -webkit-margin-before: 0;
}

body {
    background-image: url("/oldletters.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

#welcome-div {
    color: white;
    font-family: monospace;
    background-color: rgba(51,51,51,0.5);
    margin-top: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

}

#title {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: 20px;
    font-size: 60px;
}


#submit-data {
    width: 30%;
    margin: 20px;
}


h4 {
    -webkit-margin-after: 0;
}

Link {
    font-weight: bold;
}

#logo {
    padding-top: 20px;
    height: 100px;
    background-color: rgba(51,51,51,0.75);
    font-family: monospace;
    font-size: 60px;
    color: white;
    font-weight: bold;
}

#icon-pic-div {
    background-color: white;
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;

}

#profile-pic-icon {
    width: 80px;
    height: 80px;
}


#upload-pic-form {
    padding: 10px;
    background-color: red;
    margin-top: 20px;
    width: 300px;
    height: 150px;
    text-align: center;
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
}

#file-input {
    margin-top: 20px;
}

#upload-title {

}
