
p {
    -webkit-margin-before: 0;
}

body {
    background-image: url("/oldletters.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

#welcome-div {
    color: white;
    font-family: monospace;
    background-color: rgba(51,51,51,0.5);
    margin-top: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;

}

#title {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: 20px;
    font-size: 60px;
}


#submit-data {
    width: 30%;
    margin: 20px;
}


h4 {
    -webkit-margin-after: 0;
}

Link {
    font-weight: bold;
}

#logo {
    padding-top: 20px;
    height: 100px;
    background-color: rgba(51,51,51,0.5);
    font-family: monospace;
    font-size: 60px;
    color: white;
    font-weight: bold;
}

#icon-pic-holder #icon-pic-div {
    background-color: white;
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    text-align: center;
    overflow: hidden;
}

#profile-pic-icon {
    position: relative;
    left: 100%;
    margin-left: -200%;
    min-width: 100%;
    height: 100%;

}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#outside-form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.90);
}

#upload-pic-form {
    position: absolute;
    padding: 10px;
    background-color: red;
    left: 0;
    right: 0;
    top: 20px;
    width: 300px;
    height: 150px;
    text-align: center;
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
}

#file-input {
    margin-top: 20px;
}

div#penpal {
    height: 100%;
    width: 100%;
}

div#profile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: white;
    text-shadow: 0px -1px 2px rgba(150, 150, 150, 1);
    font-weight: bold;
    background-color: rgba(224, 180, 133,0.70);
}

#profile #icon-pic-div {
    margin-top: 20px;
    display: inline-block;
    background-color: white;
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

#bio-text-holder{
    text-align: left;
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.address{
    -webkit-margin-after: 0;
}

#bio-edit-div{
    margin-top: 20px;
    float: right;
}

#text-input-bio{
    width: 200px;
    height: 80px;
    word-wrap: normal;
}

.text-input {
    font-family: monospace;
}
