/*html {
    width: 100%;
    height: 100%;
}*/

p {
    -webkit-margin-before: 0;
}

body {
    background-image: url("/oldletters.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

button {
    font-family: monospace;
    text-align: center;
	padding: 5px 8px 5px 8px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: solid 1px #191970;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
button:hover {
	background: #356094;
	border: solid 1px #191970;
	text-decoration: none;
}

button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #191970;
    font-weight: bold;
}

#welcome-div {
    position: relative;
    color: white;
    font-family: monospace;
    background-color: rgba(51,51,51,0.5);
    margin-top: 15%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

#subtitle {
    margin-top: 60px;
    font-size: 15px;
}

#title {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: 20px;
    font-size: 60px;
}


#submit-data {
    width: 30%;
    margin: 20px;
}


h4 {
    -webkit-margin-after: 0;
}

Link {
    font-weight: bold;
}

#logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(51,51,51,0.75);
    font-family: monospace;
    font-size: 60px;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
}

#logo-text {
    position: relative;
    float: left;
}

#online-link-div {
    margin-right: 20px;
    width: 100%;
    text-align: right;
}

#online-pals-link {
    width: 100%;
    float: right;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    color: yellow;
    padding-bottom: 5px;
}

#penpal-icons {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    float: right;
}

#network-man {
    position: relative;
    float: right;
    margin: 10px;
    width: 55px;
    height: 55px;
}

#network-man img {
    width: 100%;
    height: 100%;
}

#signout {
    position: relative;
    float: right;
    margin: 10px;
    width: 55px;
    height: 55px;
}

#signout img {
    width: 100%;
    height: 100%;
}

#home {
    position: relative;
    float: right;
    margin: 10px;
    width: 55px;
    height: 55px;
}

#home img {
    width: 100%;
    height: 100%;
}

div#icon-pic-holder {
    height: 80px;
}

div#icon-pic-holder #icon-pic-div {
    position: relative;
    float: right;
    cursor: pointer;
    background-color: white;
    float: right;
    width: 80px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    border: 2px solid #da3e3e;
}

#profile-pic-icon {
    position: relative;
    left: 100%;
    margin-left: -200%;
    min-width: 100%;
    height: 100%;
}

/*pic upload component*/
#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#outside-form {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.90);
}

#upload-pic-form {
    position: absolute;
    padding: 10px;
    font-family: monospace;
    background-color: #da3e3e;
    left: 0;
    right: 0;
    top: 20px;
    width: 300px;
    height: 150px;
    text-align: center;
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
}

#file-input {
    margin-top: 20px;
}


/*profile component*/
div#penpal {
    height: 100%;
    width: 100%;
    background-color: rgba(224, 180, 133,0.50);
    min-height: calc(100vh - 138px);
}

div#profile {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: calc(100vh - 138px);
    display: inline-block;
    color: #191970;
    font-family: 'Allerta';
    font-weight: bold;
    font-size: 13px;
    background-color: rgba(224, 180, 133,0.50);
}

#profile #icon-pic-div {
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    background-color: white;
    width: 250px;
    height: 250px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    border: 2px dashed #191970;
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
}

#bio-text-holder{
    text-align: left;
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.full-name {
    margin-top: 12px;
    font-size: 30px;
    font-family: monospace;
}

.address{
    -webkit-margin-after: 0;
}

#bio-edit-div{
    margin-top: 20px;
    float: right;
}

#text-input-bio{
    width: 200px;
    height: 80px;
    word-wrap: normal;
}

.text-input {
    font-family: monospace;
}

#friend-button-div {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

#friend-button {
    float: left;
    width: auto;

}

#pal-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    margin: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.75);
}

.card {
    width: 100%;
    height: 100%;
}

.pal-images-div {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    text-align: center;
    overflow: hidden;
}

.pal-images {
    position: relative;
    left: 100%;
    margin-left: -200%;
    min-width: 100%;
    height: 100%;
}

.pal-name-title {
    -webkit-margin-before: 0;
    margin-top: 8px;
    color: #191970;
    font-family: 'Allerta';
    font-weight: bold;
    margin-bottom: 0;
}

.pal-city {
    color: #191970;
    font-family: 'Allerta';
    font-size: 12px;
}

#friend-type {
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#display-of-pals {
    background-color: rgba(224, 180, 133,0.50);
    min-height: calc(100vh - 138px);
}

/*@media screen and (max-width: 800px) {
    #logo { color: red }
}*/
